html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0%;
    padding: 0%;
  }
  
  .to-top {
    color: #fff;
    position: fixed;
    height:10px;
    right: 23px;
    bottom: 23px;
    background-color: #000;
    padding: 15px;
    border-radius: 10px;
    opacity: 1;
  
  }
  
  
  
  body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background-color: #000;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #111;
  }
  
  .header-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 0 12px;
  }
  
  .header-logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: color .3s;
  }
  
  .header-logo-img-container {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
  }
  
  .header-logo-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
  }
  
  .header__logo-sub {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .header__links {
    display: flex;
  }
  
  li {
    list-style: none;
    padding: 2rem;
    transition: 1s;
  }
  
  .header__links {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    font-weight: 600;
    transition: .5s
  }
  
  .header__links:hover {
    color: white;
    text-shadow: 0 0 10px white;
  }
  
  .header__links_mobile:hover {
    color: white;
    text-shadow: 0 0 10px white;
  
  }
  
  .header-main ul {
    display: flex;
  }
  
  .header-main-mobile ul li {
    padding: 0%;
  }
  
  .header-main-mobile {
    display: none;
  }
  
  .header-main-mobile ul li a {
    display: block;
    text-decoration: none;
    padding: 2rem 2.5rem;
    font-size: 1rem;
    color: #333;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .3s;
  }
  
  .header__main-ham-menu-cont {
    display: none;
    width: 1.5rem;
    padding: 2.2rem 0;
  }
  
  .d-none {
    display: none;
  }
  
  .header__main-ham-menu {
    width: 100%;
    cursor: pointer;
    color: #fff;
  }
  
  .header__main-ham-menu-close {
    width: 100%;
    cursor: pointer;
  }
  
  .home-hero {
    color: #fff;
    background: #111;
    background-position: center;
    height: 100vh;
    min-height: 70rem;
    max-height: 80rem;
    overflow-x: hidden;
    position: relative;
  }
  
  .home-hero__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 90%;
  }
  
  .heading-primary {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 12px;
    color: #333;
    font-weight: 800;
    transition: 1s;
  }
  
  .home-hero__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
  }
  
  .text-primary {
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    transition: 1s;
  }
  
  .home-hero__cta {
    margin-top: 5rem;
    text-align: center;
    
  }
  
  .btn--bg {
    padding: 1.5rem 6rem;
    font-size: 1.3rem;
    background: #333;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 10px;
    overflow: hidden;
    animation: shadow 2.4s linear infinite;
  
  
  }
  
  .icon-small.u-color-white {
      filter:brightness(0%)invert();
  }
  
  @keyframes shadow {}
  
  .tooltip {
    color: white;
    position: absolute;
    top: 15%;
    left: 38%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid white;
    padding: 6px;
  }
  
  .moon {
    background-color: #222;
    height: 7em;
    width: 7em;
  
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  .moon:after {
    position: absolute;
    content: "";
    background-color: #dbd2d2;
    height: 0.9em;
    width: 0.9em;
    border-radius: 50%;
    top: 3.75em;
    left: 1.25em;
    box-shadow: 0.9em -2.1em 0 0.2em #b8b3b3, 1.5em -0.3em 0 -0.06em #838080;
  }
  
  .moon p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #888;
    animation: glow 2s infinite linear;
  }
  
  @keyframes glow {
    100% {
      color: #888;
    }
  
    50% {
      color: #fff;
      text-shadow: 1px 2px 3px #fff;
    }
  
    100% {
      color: #888;
    }
  }
  
  .cloud1 {
    width: 20rem;
    overflow: hidden;
    float: right;
    position: absolute;
    left: 60%;
    top: 25%;
    z-index: 1;
    animation: cloud1 100s infinite linear;
    opacity: 50%;
  }
  
  @keyframes cloud1 {
    0% {
      position: absolute;
      left: 70%;
    }
  
    100% {
      left: -60%;
    }
  }
  
  .cloud1 img {
    object-fit: contain;
    -o-object-fit: contain;
    width: 100%;
  }
  
  .cloud2 {
    width: 10rem;
    overflow: hidden;
    float: left;
    display: block;
    position: absolute;
    left: 30%;
    top: 15%;
    opacity: 20%;
    animation-delay: 411s;
    animation: cloud2 100s infinite linear;
  
  
  }
  
  @keyframes cloud2 {
    0% {
      position: absolute;
      left: 0%;
    }
  
    100% {
      left: 100%;
    }
  }
  
  .cloud2 img {
    width: 100%;
    object-fit: contain;
    -o-object-fit: contain;
  }
  
  .home-hero__mouse-scroll-cont {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
  }
  
  .mouse::before {
    content: '';
    width: 2px;
    height: 10px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: rotate(180deg);
    transform: translateX(-50%);
    background-color: #fff;
    opacity: 1;
    animation: wheel 1.8s infinite;
    -webkit-animation: wheel 1.8s infinite;
  }
  
  .about {
    background: #fff;
  }
  
  .sec-pad {
    padding: 3rem 0;
  }
  
  .main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
    padding: 10px;
    background-color: #fff;
  }
  
  .heading-sec__mb-med {
    margin-bottom: 9rem;
  }
  
  .heading-sec__main {
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #000;
  }
  
  .heading-sec__main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 7px;
    width: 3rem;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  
  .heading-sec__sub {
    display: block;
    text-align: center;
    padding-left: 8rem;
    padding-right: 8rem;
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
  }
  
  .about__content-skills {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
  
  }
  
  .about__content-main {
    padding: 0 20px 0 20px;
  }
  
  .about__content-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #000;
  }
  
  .about__content-details-para {
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
  }
  
  .img-comp-container {
    width: 17rem;
    height: 17rem;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid black;
    box-shadow: 0 0 12px black;
  
  }
  
  .img-comp-container img {
    width: 100%;
    object-fit: contain;
    -o-object-fit: contain;
  }
  
  .btn--med {
    padding: 1rem 3rem;
    font-size: 1.3rem;
    background: #333;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .skills__section_main {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .skills__heading {
    padding-top: 4rem;
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #000;
  }
  
  .skills__heading::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 7px;
    width: 3rem;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  
  .skill__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 7rem;
    border-radius:5px;
    overflow: hidden;
    box-shadow: 1rem 1rem .4rem #dddbdb, 0 0 .1rem #888, 0 0 .3rem #fff;
    padding: 12px;
    margin: 20px;
    font-size: 1.2rem;
    transition: .3s;
  
  }
  
  .skill__container p {
    margin-top: .3rem;
  }
  
  .skill-img-container {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    object-fit: contain;
  }
  
  .skill__container:hover {
      border:1px solid #111;
    transform: scale(1.1);
  }
  
  .skill__container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
  }
  
  .skill__container p {
    font-size: 1.4rem;
  
  }
  
  @keyframes wheel {
    0% {
      bottom: 100%;
    }
  
    50% {
      top: 90%;
    }
  
    100% {
      opacity: -001;
    }
  }
  
  
  #contact {
    background-color: #111;
    background-image: url('https://www.seekpng.com/png/full/46-462151_mountain-silhouette-transparent-at-getdrawings-black-mountains-transparent.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .main-container-contact {
    max-width: 120rem;
    margin: auto;
    width: 75%;
    background-color: transparent;
  }
  
  .heading-sec__mb-med {
    margin-bottom: 9rem;
  }
  
  .heading-sec__main--lt {
    display: block;
    font-size: 2.5rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #fff;
  
  }
  
  .heading-sec__main--lt::after {
    content: '';
    background: #fff !important;
  }
  
  .heading-sec__sub--lt {
    color: #777;
  }
  
  .contact__form_container {
    box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;
    background: #000;
    padding: 2rem;
    margin-top: 6rem;
    text-align: right;
    border-radius: 10px;
    margin: auto 8rem;
  }
  
  .form__contact-field {
    margin-bottom: 3rem;
  }
  
  .contact_form_label {
    color: #777;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 2rem;
    display: block;
    text-align: left;
    font-family: 'ubuntu';
  }
  
  .contact__form_input {
    color: #777;
    padding: 1.2rem;
    width: 100%;
    border: 1px solid #000;
    font-size: .9rem;
    letter-spacing: 0;
    background: #111;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
    font-family: 'ubuntu';
  }
  .contact__form_input:focus {
      border-color:white;
  }
  
  .contact__btn {
    display: block;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    transition: .5s;
  }
  
  .contact__btn:hover {
    background-color: white;
    color: #111;
    box-shadow: 0 0 10px white;
  }
  
  .project-main {
    padding: 2rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project-card {
    width: 21rem;
    height: auto;
    background-color: #fff;
    overflow: hidden;
    margin: 1rem 1rem;
    border-radius: 12px;
    transition: .3s;
    box-shadow: 1rem 1rem 0.4rem #dddbdb, 0 0 0.1rem #888, 0 0 0.3rem #fff;
  }
  
  .project-card:hover {
    transform: scale(1.09);
  }
  
  .project-about-section {
    padding: 23px;
  }
  
  .img-container {
    width: 100%;
    height: 13rem;
    object-fit:contain;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
  }
  
  .heading-project {
    color: #111;
  }
  
  .project-about {
    color: #111;
    margin-top: 1rem;
  }
  
  .project-btn {
    margin-top: 1rem;
  }
  
  .visit-btn {
    width: 100%;
    padding: 17px;
    font-size: .9rem;
    font-weight: 700;
    text-align: center;
    background-color: black;
    color: #fff;
    font-family: monospace;
    border-radius: 10px;
    border: 1px solid #111;
    transition: .3s;
    overflow: hidden
  
  }
  
  .project-btn::after {
  
  }
  .visit-btn:hover {
    transform: scale(1.1);
  }
  
  .lang-use {
    margin-top: 1rem;
    color: #fff;
    background-color: black;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 10px;
  }
  
  .fa-solid {
    color: #fff;
  }
  
  .footer {
    background-color: #000;
  }
  
  .footer-main-container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #000;
    border-bottom: 2px solid white;
    margin: 0 9rem;
  }
  
  .heading-footer-name {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    font-size: 2rem;
    width: 50%;
    padding: 2rem 0;
    font-weight: 700;
  }
  
  .social-icon {
    padding: 2rem 0;
    font-weight: 700;
  }
  
  .heading-footer-para {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 500;
    font-family: 'ubuntu';
  }
  
  .heading-footer-social {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }
  
  .social-icon {
    display: flex;
  
  }
  
  .fa-brands {
    margin-left: 12px;
  }
  
  .fa-brands-margin-none {
    margin-left: 0;
  }
  
  .footer-credit {
    color: white;
    text-align: center;
    font-weight: 500;
    margin-top: 1.5rem;
    letter-spacing: .1rem;
  }
  
  
  @media screen and (max-width:800px) {
    ::-webkit-scrollbar {
      display: none;
    }
  
    .heading-sec__sub {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .header-logo-img-container {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
      font-size: 1rem;
    }
  
    .header__logo-sub {
      font-size: 0.8rem;
      font-weight: 700;
  
    }
  
    .header__links {
      font-size: 0.8rem;
      font-weight: 700;
    }
  
    li {
      padding-right: .8rem;
    }
  
    .home-hero__content {
      margin-top: 4em;
    }
  
    .about__content {
      grid-template-columns: 1fr;
      grid-gap: 8rem;
    }
  
    .project__main_section {
      display: flex;
      flex-direction: column;
    }
  
    .project__shown_main {
      width: 100%;
    }
  
    .project__shown {
      padding: 0 20px;
    }
  
    .monitor {
      box-sizing: border-box;
      max-width: max-content;
    }
  
    .stand::after {
      top: 88%;
      width: 29rem;
      height: 0.6rem;
      border-bottom-right-radius: 27px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 27px;
      background: #000;
      box-shadow: 0 0 15px black;
    }
  
    .stand::before {
      font-size: .8rem;
    }
  
    .stand {
      width: 29rem;
      height: .6rem;
      border-radius: 2px;
      background-image: linear-gradient(to right, #222, silver, silver, silver, #222);
    }
  
    .main-container-contact {
      width: 92%;
    }
  
    .contact__form_container {
      margin: auto;
    }
  }
  
  @media screen and (max-width:700px) {
    .footer-main-container {
      display: block;
      margin: 0 2rem;
  
    }
  
    .heading-footer-name {
      width: 100%;
      font-size: 1.5rem;
    }
  
    .heading-footer-social {
      font-size: 1.5rem;
    }
  
    .skills__section_main {
      padding: 0;
    }
  
    .header-main {
      display: none;
    }
  
    .header__main-ham-menu-cont {
      display: block;
    }
  
    .header__logo-sub {
      font-size: 1rem;
    }
  
    h1.heading-primary {
      font-size: 3rem;
      margin-top: 1rem;
    }
  
    p.text-primary {
      font-size: 1.2rem;
    }
  
    .moon {
      width: 7em;
      height: 7em;
    }
  
    .moon p {
      font-size: 1.1rem;
    }
  
    .moon:after {
      width: 0.7em;
      height: 0.7em;
      box-shadow: 0.2em -1.8em 0 0.01em #b8b3b3, 1.5em -0.3em 0 -0.03em #838080;
  
    }
  
    .cloud1 {
      width: 12rem;
    }
  }
  
  .home-hero {
    min-height: 60em;
  }
  
  @media screen and (max-width:500px) {
    h1.heading-primary {
      font-size: 2.1rem;
    }
  
    .cloud1 {
      animation: cloud1 50s infinite linear;
    }
  
    .monitor {
      width: 20rem;
      height: 15rem;
    }
  
    .stand {
      width: 23rem;
    }
  
    .stand::after {
      width: 23rem;
    }
  
    .footer-credit {
      font-size: .8rem;
  position: relative;
  z-index: 99999;  }
  
  }
  
  
  @media screen and (max-width:400px) {
    .skill__container{
      width: 6rem;
    }
   
    .monitor {
      width: 18rem;
      height: 14rem;
    }
  
    .stand {
      width: 20rem;
  
    }
  
    .stand::after {
      width: 20rem;
    }
    .img-comp-container{
      width: 14rem;
      height: 14rem;
    }
    .btn--bg {
      padding: 1.5rem 4rem;
    }
  }
  .alert-container {
    display: flex;
    justify-content: center;
    
  }
  .alert {
    position: absolute;
    z-index: 9999;
    background-color: lightgreen;
    display: inline-block;
    padding: 23px;
    border-left: 5px solid green;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
   